/Proyecto1P/nbproject/private/
/AyudantiasPOO/Semana 6/Semana6/build/
/AyudantiasPOO/Semana 6/Semana6/nbproject/private/
/AyudantiasPOO/Semana 6/leccion2/build/
/AyudantiasPOO/Semana 6/leccion2/nbproject/private/
/AyudantiasPOO/Semana 6/leccionVillacis/nbproject/private/
/AyudantiasPOO/Semana10/TallerArchivosVentas/build/
/AyudantiasPOO/Semana10/TallerArchivosVentas/nbproject/private/
/AyudantiasPOO/Semana11/GilcesTaller5/build/
/AyudantiasPOO/Semana11/GilcesTaller5/dist/
/AyudantiasPOO/Semana11/GilcesTaller5/nbproject/private/
/AyudantiasPOO/Semana7/EjercicioJavaFX/build/
/AyudantiasPOO/Semana7/EjercicioJavaFX/dist/
/AyudantiasPOO/Semana7/EjercicioJavaFX/nbproject/private/
/AyudantiasPOO/Semana7/Semana7/build/
/AyudantiasPOO/Semana7/Semana7/nbproject/private/
/AyudantiasPOO/Semana7/Semana8/build/
/AyudantiasPOO/Semana7/Semana8/nbproject/private/
/AyudantiasPOO/Semana7/SumaCantidad_StephanyVillacis/nbproject/private/
/AyudantiasPOO/SolucionArchivosVentas/build/
/AyudantiasPOO/SolucionArchivosVentas/nbproject/private/
/AyudantiasPOO/semana4/build/
/AyudantiasPOO/semana4/nbproject/private/
/Clases/AplicacionGastosV1/target/
/Clases/AplicacionGastosV2/target/
/Clases/EjemploHerenciaEmpleado/build/
/Clases/EjemploHerenciaEmpleado/nbproject/private/
/Clases/EjercicioClase5/build/
/Clases/EjercicioClase5/nbproject/private/
/Clases/EjerciciosClases3/build/
/Clases/EjerciciosClases3/nbproject/private/
/Clases/EjerciciosClases4/build/
/Clases/EjerciciosClases4/nbproject/private/
/Clases/EjerciciosU2Clase1/build/
/Clases/EjerciciosU2Clase1/nbproject/private/
/Clases/JavaFXEejemplo3/target/
/Clases/JavaFXShapeMovimiento/target/
/Clases/LecturaYEscrituraArchivos-Parte2/nbproject/private/
/Clases/ManejoEventos/target/
/Clases/ManejoExcepciones/nbproject/private/
/Clases/TallerClasesInterfaces/nbproject/private/
/Clases/Threads1/build/
/Clases/Threads1/nbproject/private/
/Clases/Unidad 4 - EjerciciosClases20191t/build/
/Clases/Unidad 4 - EjerciciosClases20191t/nbproject/private/
/Proyectos/Semana 6/Semana6/build/
/Proyectos/Semana 6/Semana6/nbproject/private/
/Proyectos/Semana 6/leccion2/build/
/Proyectos/Semana 6/leccion2/nbproject/private/
/Proyectos/Semana 6/leccionVillacis/nbproject/private/
/Proyectos/Semana10/TallerArchivosVentas/build/
/Proyectos/Semana10/TallerArchivosVentas/nbproject/private/
/Proyectos/Semana11/GilcesTaller5/build/
/Proyectos/Semana11/GilcesTaller5/dist/
/Proyectos/Semana11/GilcesTaller5/nbproject/private/
/Proyectos/Semana7/EjercicioJavaFX/build/
/Proyectos/Semana7/EjercicioJavaFX/dist/
/Proyectos/Semana7/EjercicioJavaFX/nbproject/private/
/Proyectos/Semana7/Semana7/build/
/Proyectos/Semana7/Semana7/nbproject/private/
/Proyectos/Semana7/Semana8/build/
/Proyectos/Semana7/Semana8/nbproject/private/
/Proyectos/Semana7/SumaCantidad_StephanyVillacis/nbproject/private/
/Proyectos/SolucionArchivosVentas/build/
/Proyectos/SolucionArchivosVentas/nbproject/private/
/Proyectos/semana4/build/
/Proyectos/semana4/nbproject/private/
/Talleres/Taller 02/SistemaEspectaculos_NR/nbproject/private/
/Talleres/Taller 02/Taller 2 Fabrizzio Ontaneda/build/
/Talleres/Taller 02/Taller 2 Fabrizzio Ontaneda/nbproject/private/
/Proyectos/semana1/target/
/Proyectos/Semana2/target/
/Copia de Clases/AplicacionGastosV1/target/
/Copia de Clases/AplicacionGastosV2/target/
/Copia de Clases/EjemploHerenciaEmpleado/build/
/Copia de Clases/EjemploHerenciaEmpleado/nbproject/private/
/Copia de Clases/EjercicioClase5/build/
/Copia de Clases/EjercicioClase5/nbproject/private/
/Copia de Clases/EjerciciosClases3/build/
/Copia de Clases/EjerciciosClases3/nbproject/private/
/Copia de Clases/EjerciciosClases4/build/
/Copia de Clases/EjerciciosClases4/nbproject/private/
/Copia de Clases/EjerciciosU2Clase1/build/
/Copia de Clases/EjerciciosU2Clase1/nbproject/private/
/Copia de Clases/JavaFXEejemplo3/target/
/Copia de Clases/JavaFXShapeMovimiento/target/
/Copia de Clases/LecturaYEscrituraArchivos-Parte2/nbproject/private/
/Copia de Clases/ManejoEventos/target/
/Copia de Clases/ManejoExcepciones/nbproject/private/
/Copia de Clases/TallerClasesInterfaces/nbproject/private/
/Copia de Clases/Threads1/build/
/Copia de Clases/Threads1/nbproject/private/
/Copia de Clases/Unidad 4 - EjerciciosClases20191t/build/
/Copia de Clases/Unidad 4 - EjerciciosClases20191t/nbproject/private/
/Copia de Proyectos/Semana 6/Semana6/build/
/Copia de Proyectos/Semana 6/Semana6/nbproject/private/
/Copia de Proyectos/Semana 6/leccion2/build/
/Copia de Proyectos/Semana 6/leccion2/nbproject/private/
/Copia de Proyectos/Semana 6/leccionVillacis/nbproject/private/
/Copia de Proyectos/Semana10/TallerArchivosVentas/build/
/Copia de Proyectos/Semana10/TallerArchivosVentas/nbproject/private/
/Copia de Proyectos/Semana11/GilcesTaller5/build/
/Copia de Proyectos/Semana11/GilcesTaller5/dist/
/Copia de Proyectos/Semana11/GilcesTaller5/nbproject/private/
/Copia de Proyectos/Semana2/target/
/Copia de Proyectos/Semana7/EjercicioJavaFX/build/
/Copia de Proyectos/Semana7/EjercicioJavaFX/dist/
/Copia de Proyectos/Semana7/EjercicioJavaFX/nbproject/private/
/Copia de Proyectos/Semana7/Semana7/build/
/Copia de Proyectos/Semana7/Semana7/nbproject/private/
/Copia de Proyectos/Semana7/Semana8/build/
/Copia de Proyectos/Semana7/Semana8/nbproject/private/
/Copia de Proyectos/Semana7/SumaCantidad_StephanyVillacis/nbproject/private/
/Copia de Proyectos/SolucionArchivosVentas/build/
/Copia de Proyectos/SolucionArchivosVentas/nbproject/private/
/Copia de Proyectos/semana1/target/
/Copia de Proyectos/semana4/build/
/Copia de Proyectos/semana4/nbproject/private/
/Copia de Talleres/Taller 02/SistemaEspectaculos_NR/nbproject/private/
/Copia de Talleres/Taller 02/Taller 2 Fabrizzio Ontaneda/build/
/Copia de Talleres/Taller 02/Taller 2 Fabrizzio Ontaneda/nbproject/private/
/Semana11/GilcesTaller5/build/
/Semana11/GilcesTaller5/dist/
/Semana11/GilcesTaller5/nbproject/private/
/Semana2/target/
/semana1/target/
